@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #2d2d2d;
    font-size: 14px;
}

.form-control{
    font-size: 14px;
}

@media screen and (min-width: 994px) {
.form-control{
    width: 350px;
}   
}

@media screen and (max-width: 994px) {
.navbar-nav{
    text-align: center;
}
}

/*Gambar Produk*/
.row-produk{
    background-color: #f9f9f9;
    margin: 0;
    padding: 5px;
    padding-top: 16px;
}

.garis-nama{
    border-bottom: 2px solid #2d2d2d;
    margin-top: 10px;
    margin-bottom: 25px;
}

.star i{
    color: rgb(243, 181, 25)
}

.btn-custom{
    padding: 15px;
    font-size: 14px;
}

.nav .nav-item .deskrip{
    background-color: #90B77D;
}

/*all product */
.section-p2{
    padding: 40px 240px;
}

#allproduct{
    text-align: center;
}

#allproduct .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#allproduct .pro{
    width: 15%;
    min-width: 200px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}

#allproduct .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.06);
}

#allproduct .pro img{
    width: 100%;
    border-radius: 20px;
}

#allproduct .pro .des{
    text-align: start;
    padding: 10px 0;
}

#allproduct .pro .des span{
    color: #060663;
    font-size: 12px;
}

#allproduct .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#allproduct .pro .des i{
    font-size: 12px;
    color: rgb(243, 181, 25);
}

#allproduct .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#allproduct .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    font-weight: 500;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

/*Footer*/

.section-p4{
    padding: 20px 100px;
}

footer{
    background-color: #A8B380;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* margin-bottom: 20px; */
}

footer .logo {
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
}

footer p{
    font-size: 13px;
    margin: 0 0 4px 0;
}  

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}  

footer .copyright {
    width: 100%;
    text-align: center;
}