@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
    background-color: #ffffff;
    font-family: 'Poppins', sans-serif;
    color: #2d2d2d;
    font-size: 14px;
}

.form-control{
    font-size: 14px;
}

.navbar-nav .btn{
    font-size: 14px;
}
@media screen and (min-width: 994px) {
.form-control{
    width: 350px;
}   
}

@media screen and (max-width: 994px) {
.navbar-nav{
    text-align: center;
}
}

/*Judul Kategori*/
.section-p1{
    padding: 20px 10px;
    text-align: center;
}

/*CRUD*/

table{
    width: 80%;
    margin: 40px auto;
    background: #5A8F7B;
}

table.list{
    text-align: center;
    width: 100%;
}

td{
    border: 1px solid rgb(204,200,200);
    text-align: left;
    padding: 8px 15px;
}

tr:nth-child(even), table.list thread> tr{
    background-color: rgb(204,200,200);
}

input[type="text"], input[type="number"]{
    width: 100%;
    padding: 12px 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid rgb(165,161,161);
    border-radius: 4px;
}

input[type="submit"], input[type="reset"]{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none;
}
 
input[type="submit"]:hover{
    background: #8FD9A8;
}

input[type="reset"]:hover{
    background: #F0FF42;
}

button{
    background: #eee;
    padding: 6px 12px;
    margin: 15px 0 10px;
    display: inline-block;
    border: none;
    border-radius: 30px;
    font-size: 1rem;
    cursor: pointer;
    outline: none; 
}

button:hover{
    background: #C8DBBE;
}

/*Footer*/

.section-p4{
    padding: 20px 100px;
}

footer{
    background-color: #A8B380;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .col{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
}

footer .logo {
    margin-bottom: 30px;
}

footer h4{
    font-size: 14px;
    padding-bottom: 20px;
}

footer p{
    font-size: 13px;
    margin: 0 0 4px 0;
}  

footer a{
    font-size: 13px;
    text-decoration: none;
    color: #222;
    margin-bottom: 10px;
}  

footer .copyright {
    width: 100%;
    text-align: center;
}